body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#twitter{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.input{
    display: block;
    width: 300px;
}

textarea{
    height: 300px;
}